{% extends 'sms/dashboard/teacherbase.html' %}

{% block title %} Teacher Dashboard {% endblock %}

{% block content %}

    <h1 style="text-align: center;">Student Conduct Records</h1>

    <div  style="padding-left: 10px;padding-right: 10px;">
        <a class="nav-link" href="{% url 'academics:add_conduct' %}">
            <i class="fas fa-plus-circle"></i>  <!-- Add the plus-circle icon -->
            <span>Add Conduct</span>
        </a>
        
        <hr>
        <table id="conducts-table" class="display">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Class</th>
                    <th>Session</th>
                    <th>Term</th>
                    <th>Category</th>
                    <th>Count</th>
                    <th>Remarks</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for conduct in conducts %}
                <tr>
                    <td>{{ conduct.student.first_name }} {{ conduct.student.last_name }}</td>
                    <td>{{ conduct.student_class }}</td>
                    <td>{{ conduct.session }}</td>
                    <td>{{ conduct.term }}</td>
                    
                    <td>{{ conduct.category }}</td>
                    <td>{{ conduct.score }}</td>
                    <td>{{ conduct.remarks }}</td>
                    <td>{{ conduct.date }}</td>
                    <td>
                        <a href="{% url 'academics:edit_conduct' conduct.pk %}">
                            <i class="fas fa-edit"></i>
                        </a> |
                       
                    </td>
                    <td>
                        <a href="{% url 'academics:delete_conduct' conduct.pk %}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    
    <script>
        // Initialize DataTable
        $(document).ready(function() {
            $('#conducts-table').DataTable({
                "paging": true,
                "searching": true,
                "info": true,
                "ordering": true
            });
        });
    </script>


{% endblock %}