{% extends 'sms/dashboard/homebase.html' %}
{% load hitcount_tags %}
{% load static %}


{% block title %} About Us - Esteem Learning Centre {% endblock %}

{% block description %}
Esteem School offers a comprehensive educational experience from pre-nursery through college. With specialist teachers, it provides standard curriculums and equips students for success from elementary to secondary levels. Esteem integrates academic excellence with Islamic values and discipline, earning recognition among the nation's top international schools. Esteem Q offers a unique program for Quran memorization, fostering spiritual growth and a deep connection to the Holy Scriptures.
{% endblock %}

  {% block content %} 

<br><br>

  <div style="text-align: center;" class="container">
    <h1 style="font-size: 32px; font-weight: bold; margin-bottom: 20px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Welcome to Our School</h1>
    <br>
    <ul style="list-style: none; padding: 0;">
        {% for about_us in about_us_list %}
            <li style="margin-bottom: 40px;">
                <h3 style="font-size: 24px; margin-bottom: 10px;font-weight: bold;">{{ about_us.title }}</h3>
                <br>
                {% if about_us.img_about_us %}
                    <div style="margin-bottom: 10px;">
                        <img src="{{ about_us.img_about_us.url }}" alt="{{ about_us.title }}" style="width: 80%; height: 450px; border-radius: 10px;">
                    </div>
                {% endif %}
                <div style="font-size: 18px;">{{ about_us.content | safe }}</div> <!-- Use | safe to render HTML content -->
            </li>
        {% endfor %}
    </ul>
</div>

  


{% endblock %} 
 
