{% extends 'sms/dashboard/homebase.html' %}
{% load hitcount_tags %}
{% load static %}

{% block title %} Esteem Learning Centre, Abuja - knowledge, faith and discipline  {% endblock %}

  {% block content %} 

<div class="container" style="padding-top: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 12px;">

  <a class="btn btn-primary text-white" style="width: 220px; text-align: center;" href="">
    Chat Us Now
  </a>

  <a class="btn btn-primary text-white" style="width: 220px; text-align: center;" href="{% url 'teacher:student-dashboard' %}">
    STUDENT LOGIN
  </a>

  <a class="btn btn-primary text-white" style="width: 220px; text-align: center;" href="{% url 'teacher:teacher-dashboard' %}">
    STAFF LOGIN.
  </a>

</div>

<br><br><br>



{% endblock %} 
 