{% extends 'sms/dashboard/base.html' %}
{% load hitcount_tags %}


{% block title %} Course Details {% endblock %}

  {% block content %}  
<style>
  .benefits{
    width: 200px;
    height: 50px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits >*{
   flex: 1 1 auto;
   width: 10px;
   margin: -10px;
  

  }
  [aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
 .page{
  display: flex;
  flex-wrap: wrap;
 }
 .page > *{
  flex: 1 1 auto;
  margin: 5px;
 }
 .rounded{
  width: 30px;
  height: 150px;
 }

 .gallery {
    display: flex;
    overflow-x: auto;
    height: 400px;
    overflow-y: hidden;       
}
.gallery>* {
   flex: 1 1 auto;
   margin: 10px;
       
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.rounded{
  width: 50px;
  height: 53px;
}

.course-owner{
  display: flex;
  flex-wrap: wrap;
}
.course-owner >*{

  margin: 5px;
}
.sta{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sta >*{
  flex: 1 1 auto;
  margin: 10px;

}
.name{
  padding: 20px;
}

  /* ebooks */
  .child-review{
  display: flex;
  margin-top: -25px;
}

.child-review >*{
  margin: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-review{
  width: 300px;
}
.card-review:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.flex-container >*{
  margin: 10px;
}

 /* end of ebooks */

  /* fixed-bottom */
  .fixed-bottom {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 25px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }

    .fixed-bottom.show {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: 768px) {
      .fixed-bottom {
        display: none;
      }
    }

  /* end fixed-bottom */

  /* whatyouwilllearn */
  .whatyouwilllearn{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    min-height: 370px;
  }
  .whatyouwilllearn >*{
    margin: 10px;
  }
  .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.desc-hidden {
      display: none;
  }

.payment-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.payment-form .form-group {
  margin-bottom: 15px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.payment-form .amount {
  font-weight: bold;
  color: #2ecc71; /* Green color for the amount */
}

.payment-form .form-group span {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form .form-submit {
  text-align: center;
}

.payment-form .form-submit button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.payment-form .form-submit button:hover {
  background-color: #2980b9;
}

  
</style>




  <div  style="padding-left: 10px; padding-right: 10px;background-color: rgb(240, 238, 235)" class="">
    <br> <br>
    <div class="course-owner d-flex ">
      {% if object.course_logo.url %}
      <img  class="rounded" src="{{ object.course_logo.url }}"  alt=""> 
      <p>{{object.course_owner|safe}}</p>
      {% else %}
      <img  class="rounded" src=" /static/sms/images/newlogo3.jpg"  alt="">
      <p  class="text-dark ">Codethinkers Academy</p>
    {% endif %}
    </div>
    
    <br>
  <h6>{{ object.title|safe }}</h6>
  <p>{{enrollment_count}}  students already enrolled </p>
  {% if object.price %}
  <p style="color: black; font-size: 18px; font-weight: bold;" class="">{{object.status_type|safe}} |  #{{object.price|safe|floatformat:"0g"}}</p> 

  {% else %}
  <p style="color: black; font-size: 18px; font-weight: bold;" class="">{{object.status_type|safe}}</p> 
  
  {% endif %}
  <small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{object.categories.name|safe|title}} level</small> <br>
  <small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{object.course_type|safe}}</small>

    <br> <br>
    <p class=" pr-3">{{ object.desc|truncatechars:300|safe }}</p>

      {% if request.user.profile in course.student.all or object.status_type  == 'Free'  %}
    <a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary">Enroll {{ object.title|safe }}</button> </a> 
      {% else %}
  
      {% endif %}
<h4 style="color: green;">Enrollment Fee: #{{object.price|safe}}</h4>
   

<form id="paymentForm" action="" method="POST" style="margin-top: -40px;">
  {% csrf_token %}
  <div class="form-group">
 
    <input  value = '{{request.user}}' type="hidden" id="email-address" required />
  </div>
  <div class="form-group">
    <label for="first-name"></label>
    <input  value = "{{object.price|safe}}"  type="hidden" id="amount" required />
  </div>
  <div class="form-group">
   
    <input value = "{{request.user.profile.first_name|safe}}" type="hidden"id="first-name" /> 
  </div>
  <div class="form-group">

    <input value = "{{request.user.profile.last_name}}" type="hidden" id="last-name" /> 
  </div>


  <div class="form-submit">
   
  </div>
  {% if not related_payments.exists %}

  <button style="width: 100%;" class="btn btn-primary" type="submit"  id="purchasebtn" onclick="payWithPaystack()">Pay Now </button>
{% else %}
 

    <a href="{% url 'sms:courseslistdesc' course.id %}">
      Start {{ course.title|safe }}
    </a>
    <div>
      <p class="" style="color: green;">You have already made payment! You can now proceed with the course enrollment.</p>
    </div>
   
  {% endif %}
</form>



  </div>

<br>


   <!-- Paystack starts here -->
   <script src="https://js.paystack.co/v1/inline.js"></script>
 
<!-- 
  <script src="https://js.paystack.co/v1/inline.js"></script> -->

<!-- <ul>
  {% if request.user.profile in course.student.all or object.status_type  == 'Free'  %}
<a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary">Enroll {{ object.title|safe }}</button> </a> 
  {% else %}

  
  {% endif %}
</ul> -->



<div class="pl-3 pr-3">

</div>
<!-- end of related courses -->

<!-- {% if object.student.status_type  == 'Premium' and object.status_type  == 'Premium'  or object.status_type  == 'Free'  %}
  
<a class="btn btn-secondary fixed-bottom" href="{% url 'sms:topicslistview' object.id %}">Enroll {{ object.title|safe }}</a>
{% else %}


{% endif %} -->

<ul>
  {% if request.user.profile in course.student.all or object.status_type  == 'Free'  %}
<a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary fixed-bottom">Enroll {{ object.title|safe }}</button> </a> 
  {% else %}

  
  {% endif %}
</ul>


<!-- about scroll top to see enrollment -->

<script>


// paystack payment
const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);

function payWithPaystack(e) {
  e.preventDefault();

  let handler = PaystackPop.setup({
    key: '{{paystack_public_key}}', // Replace with your public key
    email: document.getElementById("email-address").value,
    amount: document.getElementById("amount").value * 100,
    firstname: document.getElementById("first-name").value,
    lastname: document.getElementById("last-name").value,
    onClose: function(){
      alert('Window closed.');
    },
    callback: function(response){
    
      var referenceid = response.reference;
      window.location.href = "{% url 'sms:paymentsucess' object.id %}"
   
      
    }
  });

  handler.openIframe();
}


// const paymentForm = document.getElementById('paymentForm');
// paymentForm.addEventListener("submit", payWithPaystack, false);

// function payWithPaystack(e) {
//   e.preventDefault();


//   let handler = PaystackPop.setup({
//     key: '{{paystack_public_key}}', // Replace with your public key
//     email: document.getElementById("email-address").value,
//     amount: document.getElementById("amount").value * 100,
//     firstname: document.getElementById("first-name").value,
//     lastname: document.getElementById("last-name").value,

//     ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
//     // label: "Optional string that replaces customer email"
//     onClose: function(){
//       alert('Window closed.');
//     },
    
//          callback: function (response) {
//           // If transaction successful, do this
//           var referenceid = response.reference;
//           window.location.href = "{% url 'sms:paymentsucess' object.id %}"

//           // Set the referenceid value to the ref hidden input field
//           $("#ref").val(referenceid);

//           // Make an http request to cart process
//           $.ajax({
//             type: "GET",
//             url: "/student/paystack/webhook/" + referenceid,
           
//             beforeSend: function () {
//               console.log("Sending request");
//               $(".alert").text("Sending request");
//             },
//             success: function (response) {
//               if (response[3].status == "success") {
//                 // Once transaction completed, redirect to complete page
//                 $(".alert").removeClass("alert-warning");
//                 $(".alert").addClass("alert-success");
//                 $(".alert").text("Transaction verified");
//                 console.log("Transaction verified");
//                 $("form").trigger("reset");
//               } else {
//                 $(".alert").text("Transaction reference not found");
//               }
//             }
//           });
//         },
//         onClose: function () {
//           // Do stuff
//         }
//       });
  
//   handler.openIframe();
// }



</script>


<!-- about the course owner -->



  {% endblock %} 




