{% extends 'sms/dashboard/base.html' %}

{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}

{% block title %} Course Overall Scores Detail View {% endblock %}

  {% block content %} 
    <!-- prism.css and prism.js -->
    <link rel="stylesheet" type="text/css" href="/static/sms/prism.css">
    <script src="/static/sms/prism.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <style>



img, .videoWrapper{
width: 100%;
}

.d-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex >*{
    flex: 1 1 auto;
    margin: 0px;
} 

table.display {
margin: 0 auto;
width: 100%;
clear: both;
border-collapse: collapse;
table-layout: fixed; // ***********add this
}


/* video controller css  */

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.video-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.video-wrapper iframe {
  width: 350px;
  height: 220px;
}
@media (min-width: 768px) { /* Adjust the breakpoint as per your needs */
  .video-wrapper iframe {
    width: 800px;
    height: 450px;
  }
}

/*  end video controller css  */

/* transcript */


  .dataTables_wrapper  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .dataTables_wrapper .bottom {
        width: 100%;
        text-align: center;
    } */
    .dataTables_filter { 
        display: none; 
        float: left;
    }
    .dataTables_length {
        display: none;
        float: left;
    } 


.makecompleted{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: 14px;
}

.progressmakecompleted{
    display: flex;
    flex-wrap: nowrap;
}
.progressmakecompleted > *{
    margin: 10px;
}

/* Hide the content on mobile view */
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
       
    }
}

/* herozontal scroll on mobile view */

</style>

<style>

.app-container {
  position: relative;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 99%, rgb(0, 0, 0, 1));
    opacity: 0;
    top: 0px;
    left: 0;
}

.watch-overlay {
    position: absolute;
    width: 200px;
    height: 170px;
    margin: 380px;
    margin-left: 660px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(33, 2, 2, 0.7) 99%, rgb(0, 0, 0, 1));
    opacity: 0;
    top: 0px;
    left: 0;
}


@media (max-width: 768px) {
    .watch-overlay {
        /* Adjust the styles for mobile view */
        width: 100px; /* Example: Make the overlay full width */
        height: 150px; /* Adjust the height as needed for responsiveness */
        margin: 150px; /* Remove margin */
        margin-left: 260px; /* Remove margin-left */
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(33, 2, 2, 0.7) 99%, rgb(0, 0, 0, 1)); /* Keep the same background */
        top: 0;
        left: 0;
        opacity: 0;
    }
}


  /* Style for the menu */
  .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .menu > *{
        
        margin: 20px;
    } 
    .menu li {
        cursor: pointer;
    }
    /* Style for the content */
    .content {
        display: none;
    }
    .content.active {
        display: block;
    }
</style>

               <!-- alert -->
               <!-- <div style="height:351px; width:625px; overflow: hidden;"> -->
                <!-- <iframe height="651" width="625"
                  src="https://www.youtube.com/embed/eujgoer87Uw?theme=dark&autoplay=1&keyboard=1&autohide=2&cc_load_policy=1&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3&mute=0&loop=0?controls=0"
                  sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"
                  style="height:371px; background:#000000; bottom: 61px; position: relative;"
                  frameborder="0">
                </iframe>
              </div> -->

  <br>                   

  <div class="card-body">
   {{percentage}}%

    {% if completed_topic_ids_count == topics_count %}
     <p style="color: green;">Course Completed</p>
     {% else %}
     <p style="color: green;">progress</p>
     {% endif %}
    <progress id="progress-bar" value="{{completed_topic_ids_course}}" max="{{topics_count}}"></progress>

  </div>
  {% if completed_topic_ids %}
  <div id="content-container" class="makecompleted hide-on-mobile">
  
      {% for topic in topics %}
          <div class="bg-white topic-item" style="border: 2px solid black; margin: 5px;">
              <span id="tick-icon-{{ topic.id }}" class="{% if topic.id in completed_topic_ids %}visible{% else %}d-none{% endif %}">
                  <i style="color: green;" class="fas fa-check-circle"></i>
              </span>
              <span class="">{{ topic.title }}</span>
          </div>
      {% endfor %}
  </div>
  <!-- Add more content here -->
  {% endif %}

<!-- embed for youtube video https://www.youtube.com/watch?v=NlOF03DUoWc -->
<!-- <div class="app-container">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/NlOF03DUoWc" frameborder="0" allowfullscreen></iframe>
  
    <div class="banner-overlay">
    </div>
</div> -->




<table  id="example" class="datatable-wide display "  style="width:100%;">
    
    <thead class="">
        <tr>
            <th >

                <h6 style="flex-wrap: wrap;" class="d-flex">
                   
                    <!-- <a href="{% url 'student:take-exam' %}">Take Exam</a> -->
                    <a href="https://wa.me/23409031568177">Personal Tutoring </a> <br>

                    <!-- <p>{{ hitcount.total_hits }}  <i class="fas fa-eye"></i></p> -->
                    <a class="" href="{% url 'sms:feedbackformview' %}">
                      
                        <i class="fas fa-bell fa-fw"></i>

                        <span>Feedback</span></a>
                       
             
                </h6>
            </th>
         
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>

            <td class="text-center">
                <div style="padding-left: 10px; padding-right: 10px;" class="">
                    {% if topic.img_topic %}
                        <img class="img-box" src="{{topic.img_topic.url}}" height="500" width="80%" alt="topics image">
                    {% else %}
                    {% endif %}
                    <!-- Add the video player -->
                    
                    {% if topic.video %}
                      
                    <!-- <div class="video-container">
                        <div id="myVideo" class="video-wrapper"  sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation" style=" background:#000000; bottom: 61px; position: relative;">
                            {% video topic.video|safe class="ratio ratio-16x9" %}
                        </div>
                       
                    </div> -->



                   <div class="video-container app-container">
                        <div  id="myVideo" class="video-wrapper app-container" sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation" style="background: #000000; bottom: 61px; position: relative;">
         
                          <br> <br>
                          <iframe
                            src="{{ topic.video }}"
                            frameborder="0"
                            modestbranding="1"
                            rel="0"
                            showinfo="0"
                            controls="0"
                            disablekb="1"
                            >
                          </iframe>

                          <div class="banner-overlay">
                        </div>

                        <div class="watch-overlay">
                        </div>

                        </div>
                      </div>
                    
  
                    <!-- List Menu -->
<h4 style="color: black;">{{topic.title|safe}}</h4>
<ul class="menu">
    <li onclick="showContent('content1')">Transcript</li>
    <li onclick="showContent('content2')">Progress</li>
    <li onclick="showContent('content3')">Coming soon</li>
</ul>

<!-- Content -->
<div id="content1" class="content">
    <div style="text-align: left;" class=" code-block">
     
        <!-- <small style="color: black;">
            created: {{topic.created|timesince}} <br> last updated: {{topic.updated}}
        </small> <br> -->
        <hr>
        {% if topic.desc %}
        <label style="max-width: 100%; overflow-x: hidden;" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{topic.desc|safe}}</label> <br>
        {% for t in topicsa %}
        {% if topic.title == t.course_name.title %}
        <button type="button" class="btn btn- text-white "> <a style="border: 2px solid black;" class="" href="{% url 'quiz:start-exam' t.id %}">Assess Your Knowledge </a></button>  <br> <br> <br>
        <!-- <button type="button" class="btn btn- text-white "> <a style="border: 2px solid black;" class="" href="{% url 'quiz:start-exam' t.id %}">Assess Your Knowledge {{t.course_name.title}}</a></button>     -->
        {% endif %}
        {% endfor %}
        
        {% if topic.topics_url %}
        <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p><br>
        {% endif %}
    {% else %}
        <label data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{topic.coursedesc|safe}}</label>
    {% endif %}
</div>
<div style="marin-left: 60%;" >
                    
    <button id="complete-button-{{ topic.id }} " onclick="markTopicCompleted({{ topic.id }})">Mark as Completed</button>
    <span id="tick-icon-{{ topic.id }}" class="{% if topic.id in completed_topic_ids %}visible{% else %}d-none{% endif %}">
      <i style="color: green;" class="fas fa-check-circle"></i>
    </span>
</div>
<br>
{% if forloop.last %}
<h4 style="color: green;text-align:center">Congratulations! You have completed this course</h4> <br>
<h3 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
{% else %}
<p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;"></p>
{% endif %}

</div>


<div id="content2" class="content" style="overflow-x: auto;">
    <div class="card-body">
        {{percentage}}%
     
         {% if completed_topic_ids_count == topics_count %}
          <p style="color: green;">Course Completed</p>
          {% else %}
          <p style="color: green;">progress</p>
          {% endif %}
         <progress id="progress-bar" value="{{completed_topic_ids_course}}" max="{{topics_count}}"></progress>
     
       </div>
    {% if completed_topic_ids %}
    <div id="content-container"  class="progressmakecompleted" style="white-space: nowrap;">
        {% for topic in topics %}

            <div class="bg-white topic-item" style="border: 2px solid black; margin: 5px;">
                <span id="tick-icon-{{ topic.id }}" class="{% if topic.id in completed_topic_ids %}visible{% else %}d-none{% endif %}">
                    <i style="color: green;" class="fas fa-check-circle"></i>
                </span>
                <span style="font-size: 14px;" class="">{{ topic.title }}</span>
            </div>
        {% endfor %}
    </div>
   <!-- Progress bar -->

    {% endif %}
</div>

</div>
<div id="content3" class="content">
    Coming soon

</div>
                   
                   {% else %} 
               
                   <div style="text-align: left;" class=" code-block">
                    <h4 style="color: black;">{{topic.title|safe}}</h4>
                    <small style="color: black;">
                        created: {{topic.created|timesince}} <br> last updated: {{topic.updated}}
                    </small> <br>
                    <hr>
                    
                    {% if topic.desc %}
                        <label style="max-width: 100%; overflow-x: hidden;" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{topic.desc|safe}}</label> <br>
                        {% for t in topicsa %}
                        {% if topic.title == t.course_name.title %}
                        <button type="button" class="btn btn- text-white "> <a style="border: 2px solid black;" class="" href="{% url 'quiz:start-exam' t.id %}">Assess Your Knowledge </a></button>  <br> <br> <br>
                        <!-- <button type="button" class="btn btn- text-white "> <a style="border: 2px solid black;" class="" href="{% url 'quiz:start-exam' t.id %}">Assess Your Knowledge {{t.course_name.title}}</a></button>     -->
                        {% endif %}
                        {% endfor %}

                        {% if topic.topics_url %}
                        <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p><br>
                        {% endif %}
                    {% else %}
                        <label data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{topic.coursedesc|safe}}</label>
                    {% endif %}
                </div>
                <div style="marin-left: 60%;" >
                    
                        <button id="complete-button-{{ topic.id }} " onclick="markTopicCompleted({{ topic.id }})">Mark as Completed</button>
                        <span id="tick-icon-{{ topic.id }}" class="{% if topic.id in completed_topic_ids %}visible{% else %}d-none{% endif %}">
                          <i style="color: green;" class="fas fa-check-circle"></i>
                        </span>
                </div>
                <br>

                {% if forloop.last %}
                    <h4 style="color: green;text-align:center">Congratulations! You have completed this course</h4> <br>
                    <h3 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                {% else %}
                    <p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;"></p>
                {% endif %}
            </div>
        </td>
    </tr>
                    {% endif %}   
                   

         
        {% empty %}
            <h3 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h3>
        {% endfor %}
        <hr>
        
    </tbody>
    
 
</table>



            
<!-- page refresh  -->
<script>
    function reloadContent() {
        $.ajax({
            url: window.location.href,  // Reload the current page
            type: 'GET',
            success: function(data) {
                // Replace the content of a specific element with the reloaded content
                $('#content-container').html($(data).find('#content-container').html());
            },
            error: function(error) {
                console.error('Error reloading content:', error);
            }
        });
    }
    
    // Example: Reload content every 10 seconds
   // Adjust the time interval to 5 minutes (300,000 milliseconds)
     setInterval(reloadContent, 600000);

    </script>
    <!-- end of  -->

    
<!-- make completed javascrpts -->
<script>
    function markTopicCompleted(topicId) {
      $.ajax({
        type: "POST",
        url: "/mark_topic_completed/",
        data: {
          'topic_id': topicId,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          $('#complete-button-' + topicId).addClass('d-none');  // Hide the button
          $('#tick-icon-' + topicId).removeClass('d-none');    // Show the tick icon
          $('#topic-status-' + topicId).text('Completed');     // Change the status text
        },
        
        error: function(xhr, textStatus, errorThrown) {
          console.error('Error marking topic as complete:', errorThrown);
        }
      });
    }
    
      </script>
      <!-- end make completed javascrpts -->
    

<script>


    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'simple',
            dom: 'Qfrtip',
            ordering: false,
            bPaginate: true,
            scrollY: '100%',
            scrollCollapse: true,
            pageLength: 1,
            stateSave: true,
            dom: '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
        });
    });


    </script>    


<!-- iframe videos -->

<script>
    "use strict";
    if (document.readyState !== 'loading') init();
    else document.addEventListener('DOMContentLoaded', init);
    
    function init() {
        if (window.runOnce) return;
    
        if (typeof YT === 'undefined') {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        }
    
        var iframes = [];
        
        for (var iframe of document.querySelectorAll("iframe[src]")) {
            var src = iframe.getAttribute("src");
            if (src.includes("youtube.com/embed/")) {
                if(!src.includes("enablejsapi=1"))
                    if(src.includes("?"))
                        iframe.setAttribute("src", src + "&enablejsapi=1");
                    else
                        iframe.setAttribute("src", src + "?enablejsapi=1");
    
                iframes.push(iframe);
            }
        }
    
        var overlayStyles = {
            display: "none",
            content:"",
            position: "absolute",
            left: 0,
            right: 0,
            cursor: "pointer",
            backgroundColor: "black",
            opacity:0,
            backgroundRepeat: "no-repeat",
            backgroundPosition: "center",
        };
    
        window.onYouTubeIframeAPIReady = function() {
            iframes.forEach(function(iframe) {
                var overlay = document.createElement('div');
                for (var style in overlayStyles) {
                    overlay.style[style] = overlayStyles[style];
                }
                
               // ...

                var wrapper = document.createElement('div');
                wrapper.style.display = "inline-block";
                wrapper.style.position = "relative";
                wrapper.style.marginLeft = "5px";
                wrapper.style.marginRight = "5px";

                // ...

               
              
    
                iframe.parentNode.insertBefore(wrapper, iframe);
                
                wrapper.appendChild(overlay);
                wrapper.appendChild(iframe);
                
                var onPlayerStateChange = function(event) {
                    if (event.data == YT.PlayerState.ENDED) {
                        overlay.style.backgroundImage = "url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)";
                       
                        overlay.style.backgroundSize = "64px 64px";
                        // overlay.style.top = 0;
                        // overlay.style.bottom = 0;
                        overlay.style.top = "60px";
                        overlay.style.bottom = "10px";
                        overlay.style.display = "inline-block";

                    } else if (event.data == YT.PlayerState.PAUSED) {
                        overlay.style.backgroundImage = "url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+)";
                        overlay.style.backgroundSize = "40px 40px";
                        overlay.style.top = "40px";
                        overlay.style.bottom = "50px";
                        overlay.style.display = "inline-block";
                    } else if (event.data == YT.PlayerState.PLAYING) {
                        overlay.style.display = "none";
                    }
                };
                
                var player  = new YT.Player(iframe, {
                        events: {
                            'onStateChange': onPlayerStateChange
                        }
                    });
            
                wrapper.addEventListener("click", function() {
                    var playerState = player.getPlayerState();
                    if (playerState == YT.PlayerState.ENDED) {
                        player.seekTo(0);
                    } else if (playerState == YT.PlayerState.PAUSED) {
                        player.playVideo();
                    }
                });
            });
        };
        window.runOnce = true;
    }
    

    // transcript viddo

    </script>
    
<!-- horizontal navbar under videos -->
<script>
    // Function to show content based on the clicked menu item
    function showContent(id) {
        // Hide all content elements
        var contents = document.querySelectorAll('.content');
        contents.forEach(function(content) {
            content.classList.remove('active');
        });

        // Show the selected content element
        var selectedContent = document.getElementById(id);
        selectedContent.classList.add('active');
    }
</script>

    <!-- link to the solution of related videos -->
    <!-- https://stackoverflow.com/questions/57820478/how-to-disable-related-videos-from-an-embedded-youtube-playlist -->
  {% endblock %} 
 