
{% extends "account/login.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load socialaccount %}

<style>
  /* CSS Style for Success Notification */
  .notification-success {
    background-color: #171c17; /* Green */
    color: #fff; /* White text */
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to create space between notification and login options */
  }

  .notification-success i {
    font-size: 24px;
    margin-right: 10px;
  }

  .card-custom {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
</style>

<!-- Success Notification -->
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="notification notification-success text-center d-flex align-items-center">
      <i class="fas fa-check-circle"></i> <!-- Success icon -->
      <p class="mb-0 mx-2">
        <strong class="align-middle">Important:</strong> Login as Teacher or Student. Thank you!
      </p>
    </div>
  </div>
</div>



<!-- Card Body -->
<div class="card-body">
  {% get_providers as socialaccount_providers %}

  <div class="card card-custom"> <!-- Custom card -->
    <div class="card-body">
      <h1>Login as Teacher</h1>
      <a href="{% url 'teacher:teacher_login' %}" class="btn btn-primary">Login</a> <!-- Button with Bootstrap styling -->
      <hr>
      <h1>Login as Student</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %} <br>
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}


