{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        h4 {
            text-align: center;
            color: black;
        }
        .container {
            max-width: 70%;
            height: 100%;
            margin: 0 auto;
            padding: 10px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 12px;
        }
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #007bff;
        }
        .no-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1em;
            border: 3px solid #007bff;
        }
        .profile-info {
            margin-top: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            border: 1px solid #ddd;
        }
        .profile-info p {
            margin: 5px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h4>REPORT SHEET FOR {{ term|upper }} TERM, {{ session|upper }} ACADEMIC SESSION</h4>

        <div style="display: flex;text-align: center;font-size: 14px;margin-top: -20px;margin-left: 20px;">
            <!-- Profile Picture Section -->
            <div>
                <!-- logo images -->
                {% if school_logo_url %}
                <img src="{{ school_logo_url }}" alt="School Logo"  style="width: 100px; height: 100px; border-radius:60%;">
            {% else %}
                <p>No logo available</p>
            {% endif %}
            
            </div>
        </div>
       <br>
        <!-- School Information Section -->
        <div style="text-align: center; margin: 0 auto;margin-top: -100px;">
            <p><strong></strong> {{ student_school|upper }}</p> <!-- Display the school name -->
            <p><strong>Motto:</strong> {{ school_motto|upper }}</p> <!-- Display the school motto -->
            <p><strong></strong> {{ school_address }}</p> <!-- Display the school address -->
        </div>

      
        <hr>

        
        <table class="container" style="width: 100%; border-collapse: collapse; margin: 0 40px; ">
            <tr style="text-align: center;">
                <!-- Student Information Section -->
                <td style="padding: 2px; border: none; font-size: 12px; text-align: left;">
                    <p><strong style="color: black;">Name:</strong> {{ student_name }}</p>
                    <p><strong style="color: black;">Gender:</strong> {{ student_gender }}</p>
                    <p><strong style="color: black;">Class:</strong> {{ student_class }}</p>
                    <p><strong style="color: black;">Admission No:</strong> {{ student_admission_no }}</p>
                    <p><strong style="color: black;">No. In Class:</strong> {{ student_class_count }}</p>
                </td>
        
                <!-- Academic Performance Section -->
                <td style="padding: 2px; border: none; font-size: 12px; text-align: left;">
                    <p><strong style="color: black;">Class Average:</strong> {{ class_average }}</p>
                    <p><strong style="color: black;">Highest Ave. In Class:</strong> {{ highest_average_in_class|floatformat:1 }}</p>
                    <p><strong style="color: black;">Lowest Ave. In Class:</strong> {{ lowest_average_in_class|floatformat:1 }}</p>
                    <p><strong style="color: black;">Final Grade:</strong> {{ final_grade }}</p>
                    <p><strong style="color: black;">Total Marks:</strong> {{ total_marks_obtaine|floatformat:1 }}</p>
                </td>
        
                <!-- Additional Information Section -->
                <td style="padding: 2px; border: none; font-size: 12px; text-align: left;">
                    <p><strong style="color: black;">Final Position:</strong> {{ final_position2 }} out of {{ student_class_count }}</p>
                    <p><strong style="color: black;">Student's Average:</strong> {{ student_averages1 }}</p>
                    <p><strong style="color: black;">Term:</strong> {{ term }}</p>
                    <p><strong style="color: black;">Exam Type: </strong>{{e_type}}</p>
                    <!-- {% for exam in exam_types %}
                    <p><strong style="color: black;">Exam Type: </strong>{{ exam.exam_type__name }}</p>
                     {% endfor %} -->
                   <!-- <h1>e_type {{e_type}}</h1> -->
                </td>
            </tr>
        </table>
<hr>        
        
        <table style="width: 100%; border-collapse: collapse; font-size: 12px;">
            <thead style="font-size: 11px;">
                <tr>
                    <th style="padding: 3px; text-align: left; border: 1px solid #ddd;">SUBJECTS</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">CA ({{ ca_total_marks }}%)</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">MID-TERM ({{ midterm_total_marks }}%)</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">EXAM ({{ exam_total_marks }}%)</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">TOTAL (100%)</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">GRADE</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">POS</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">OUT OF</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">SUBJECT AVE</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">LOW IN CLASS</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">HIGH IN CLASS</th>
                    <th style="padding: 3px; border: 1px solid #ddd;">COMMENTS</th>
                </tr>
            </thead>
            <tbody style="font-size: 10px;">
                {% if subject_statistics %}
                    {% for subject, stats in subject_statistics.items %}
                        <tr>
                            <td style="text-align: left; padding: 3px; border: 1px solid #ddd;">{{ subject }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ stats.CA|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ stats.MIDTERM|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ stats.EXAM|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ stats.total_score|floatformat:1|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_grades|get_item:subject|get_item:'grade'|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_positions|get_item:subject|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_student_count|get_item:subject|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_statistics2|get_item:subject|get_item:'average'|floatformat:1|default:"N/A" }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_statistics2|get_item:subject|get_item:'lowest'|default:"N/A"|floatformat:1 }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_statistics2|get_item:subject|get_item:'highest'|default:"N/A"|floatformat:1 }}</td>
                            <td style="padding: 3px; border: 1px solid #ddd;">{{ subject_comments|get_item:subject|default:"No comment available" }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="12" style="padding: 3px; text-align: center; border: 1px solid #ddd;">No data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
                        
        <h4 style="text-align: right;">No. Of Subjects: {{ subject_count_statistics }}</h4>
        <div class="results-summary">
            <h6>Grading System</h6>
            <!-- <ul>
                <li>A: {{ grading_system.A }}</li>
                <li>B: {{ grading_system.B }}</li>
                <li>C: {{ grading_system.C }}</li>
                <li>P: {{ grading_system.P }}</li>
                <li>F: {{ grading_system.F }}</li>
            </ul>
 -->
 <table style="width: 20%; border-collapse: collapse; font-size: 10px;">
    <thead>
        <tr>
            <th style="padding: 2px; text-align: left; border: 1px solid #ddd;">Grade</th>
            <th style="padding: 2px; text-align: left; border: 1px solid #ddd;">Marks Range</th>
            <th style="padding: 2px; text-align: left; border: 1px solid #ddd;">Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for grade, range in grading_system.items %}
        <tr>
            <td style="padding: 2px; border: 1px solid #ddd;">{{ grade }}</td>
            <td style="padding: 2px; border: 1px solid #ddd;">{{ range }}</td>
            <td style="padding: 2px; border: 1px solid #ddd;">{{ grade_comments|get_item:grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
      

            <h2>Teachers for Your Class</h2>
            {% if teacher_info %}
                <ul>
                    {% for teacher in teacher_info %}
                        <li>
                            <strong>Form Teacher:</strong> {{ teacher.first_name }} {{ teacher.last_name }}<br>
                            <strong>Form Teacher Remarks:</strong> {{ teacher.form_teacher_remark }} <br>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No teachers found for this class.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
