<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start exams view</title>
    <!-- prism.css and prism.js -->
    <link rel="stylesheet" type="text/css" href="/static/sms/prism.css">
    <script src="/static/sms/prism.js"> </script>
    

     <!-- bootsrap back arrow-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    
      <!-- bootstrap link -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      
  

<style>
  
.quiz {
  width: 100%;
  display: flex;
  cursor: pointer;
  border: 1px solid #ccc; /* Add border to the .quiz container */
 
}

.quiz>* {
  margin: 10px;
  
  overflow-x: hidden;
}

.quiz input[type="radio"] {
    transform: scale(1.5); /* Increase the size by adjusting the scale value */
    margin-right: 10px; /* Add some spacing between the radio input and label */
    /* margin-top: -2px; */
   
}

.custom-container {
  background-color: green; /* Change this to your desired color */
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 5px; /* Add margin to separate entries */

}
/* .custom-td {
  display: inline;
  padding: 5px;
  background-color: green; 
  width: 100%;
  color: white;
} */
      </style>
      
</head>
<body>

 
  <script>
  function goBack() {
    window.history.back();
  }
 
  </script>

 <!-- <h1>{{quiz_end_time}}</h1>  -->


 <!-- quiz timer  -->

 <div class='float-right sticky-top'>
  <div class="row justify-content-left">
    <div class="col-mx-auto">
      <div class="alert alert-success" role="alert"><center><div id="timer">00:00</div></center></div>
    </div>
  </div>
</div>

<!--end quiz timer  -->


  <div class="card">
  <div class="card-header">
   
<hr>

<form id="quizf" action="/student/calculate_marks" onsubmit="return saveAns()" enctype="multipart/form-data"  method="POST">
  {% csrf_token %}
  <span style="padding: 5px 10px;font-size: 30px;" onclick="goBack()" class="bi bi-arrow-left "></span>

  <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
    <h4>{{course.course_name}} Quiz</h4>
    <h5>Number of Questions in the Quiz: {{q_count}}</h5>
    <!-- <hr>
    <p>pages {{page_obj}}</p> -->
    
    <hr>
  {% for q in  page_obj %}

{% if q.img_quiz.url %}
<div  class="text-center" ><img src="{{q.img_quiz.url}}" width="100%" height="300px" alt=""> </div><br>
{% endif %}

<label style="font-size: 18px; width: 100%;" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">
  {{ q.question|safe }}
</label>
<h6 style="text-align: right;">[marks {{q.marks}}]</h6>

{% if q.option1 %}

<div class="quiz">
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option1}}" name="choose"  value="Option1" required>
  <label style="width: 100%;" for="option1" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left"> {{q.option1|safe}}</label><br>
</div> 
{% endif %}  

{% if q.option2 %}
<div class="quiz">
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option2}}" name="choose" value="Option2" required>
  <label style="width: 100%;" for="option2" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{q.option2|safe}}</label>
</div>

{% endif %}

{% if q.option3 %}
<div class="quiz" >
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option3}}" name="choose" value="Option3" required>
  <label style="width: 100%;" for="option3" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{q.option3|safe}}</label>
</div>
{% endif %}

{% if q.option4 %}
<div class="quiz" >
  <input  type="radio" name="{{forloop.counter}}" id="{{q.option4}}" name="choose" value="Option4" required>
  <label style="width: 100%;"  for="option4" data-label="my-label-button" class="language-markup line-numbers copy-to-clipboard-button body-text text-left">{{q.option4|safe}}</label><br>
</div>
{% endif %}
<br><br>
{% empty %}
<h1 class="card text-center text-danger">No Exam Available Yet. CHECK LATER</h1>

{% endfor %}

  <div style="display: flex; justify-content: space-between;">
    <button id="qui" onclick="disp()" class="btn btn-primary" type="submit">Submit</button>
  </div>

</div>

</form> 

</div>
</div>

    <!-- end of quiz timer --> 
    

     <script>

      document.addEventListener('DOMContentLoaded', function() {
        var endTime = new Date("{{ quiz_end_time|date:"Y-m-d\TH:i:s" }}").getTime();
        var timerElement = document.getElementById('timer');
        var quizForm = document.getElementById('quizf');
        function submitQuiz() {
          // Submit the quiz form
          if (quizForm) {
            
            quizForm.submit();
          } else {
            console.error('Quiz form not found');
          }
        }
        function updateTimer(time) {
          if (time.toString().length < 2) {
            timerElement.innerHTML = `<b>0${time}:00</b>`;
          } else {
            timerElement.innerHTML = `<b>${time}:00</b>`;
          }
    
          let minutes = time;
          let seconds = 0;
          let displaySeconds;
          let displayMinutes;
       
          const timer = setInterval(() => {
            seconds--;
            if (seconds < 0) {
              seconds = 59;
              minutes--;
            }
            
    
            if (minutes.toString().length < 2) {
              displayMinutes = '0' + minutes;
            } else {
              displayMinutes = minutes;
            }
            if (seconds.toString().length < 2) {
              displaySeconds = '0' + seconds;
            } else {
              displaySeconds = seconds;
            }
            if (minutes === 0 && seconds === 0) {
              clearInterval(timer);
             
              submitQuiz();
              saveAns()

            }

            timerElement.innerHTML = `<b>Time Left: ${displayMinutes}:${displaySeconds}</b>`;
          }, 1000);
        }

        updateTimer({{ course.duration_minutes }});
    
        
      });
    </script>
 
    
    <!--end quiz timer  -->


<!-- end of pagination -->

      <script> 

          function saveAns(){  
      
              var ele = document.getElementsByTagName('input'); 
              for(i = 0; i < ele.length; i++) { 
                  if(ele[i].type="radio") { 
                      if(ele[i].checked){        
                        setCookie(ele[i].name,ele[i].value,3)
                      }
                  } 
              } 
                
          }
          
          function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
    </script>

<script>
    function disp(){
    alert('Note: You must answer all question before you will be able to submit')
    } 
</script>

<!-- <script>
  function check(){
    var radios = document.getElementsByName("choice");

    for (var i = 0, len = radios.length; i < len; i++) {
         if (radios[i].checked) {
             return true;
         }
    }

    return false;
}
</script> -->

</script>
</body>
</html>

 <!-- <script> 
    function saveAns(){  

        var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type="radio") { 
                if(ele[i].checked){        
                  setCookie(ele[i].name,ele[i].value,3)
                }
            } 
        } 
          
    }
    
    function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

</script>  -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const quizButtons = document.querySelectorAll(".quiz");
  quizButtons.forEach(button => {
    button.addEventListener("click", function() {
      const radioInput = this.querySelector("input[type='radio']");
      if (radioInput) {
        radioInput.checked = true;
      }
    });
  });
});

</script>
<br><br><br><br><br><br>