{% extends 'sms/dashboard/base.html' %}

{% block title %} Subject Take Exams {% endblock %}

  {% block content %} 
  <style>
 
    </style>
       
    <!--Products-->
    <br> <br>
    
    <h3 class="text-center">Select a Subject to Take Exam</h3>
    <p class="text-center">Start the Quiz</p>
    <p class="text-center">Good luck!</p>
    <!-- <h1>Subjects and Related Schools</h1>
    <ul>
        {% for subject_info in subjects_info %}
            <li>
                <strong>Subject:</strong> {{ subject_info.subject }}<br>
                <strong>Related Schools:</strong>
                <ul>
                    {% for school in subject_info.schools %}
              h  <li>{{ school }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> -->

 <!-- {% for school in associated_schools %}
 {% if school.school_name == school_name %}
   
   <a href="{% url 'sms:topicslistview' course.id %}">
     <button class="btn btn-primary fixed-bottom">Enroll {{ object.title }}</button>
   </a>
   {% else %}
   <a style="height: 10px;" class="" href="{% url 'sms:course' course.id %}">
     <button class="btn btn-primary fixed-bottom">Make payment to proceed</button>
    </a>
 {% endif %}
{% endfor %} -->
<!-- {% for subjects_user in subjects_users %}
<h1>{{subjects_user}}</h1> 
{% endfor %}

{% for subject_info in subjects_info %}

ss{{subject_info.subject}}

{% endfor %} -->

<!-- {% for subject_info in subjects_info %}
{% for subjects_user in subjects_users %}
{% for groups in all_groups %}
{% if school_name|lower == student_school|lower and groups == group %}

<h1>ee{{subjects_user.}}</h1>
  {% else %}


{% endif %}
{% endfor %}
{% endfor %}
{% endfor %} -->

<!-- Assuming 'group_subjects' is a list of subjects passed to the template -->

<!-- your_template.html -->

<!-- your_template.html -->

<!-- {% for subject in group_subjects %}
    {{ subject }}<br>
{% endfor %} -->





<!-- {% for group_name in groups %}
    <ul>
    {% for group_subject in group_name.subjects.all %}
        {% if group_name|lower == group|lower %}
            <li>{{ group_subject }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %} -->
yyyyy
 <p>{{school_exam}}</p>
exam_subject {{exam_subject}}
<h2>test</h2>
<hr>

 {% for sub in group_subjects %}
 {% if sub|lower in exam_subject|lower %}
<a href="">{{sub}}</a>
 {% endif  %}
 {% endfor %}
 

 {% for sub in group_subjects %}
<h1>{{sub}}</h1>
 {% endfor %}

 <h4>group {{group.name}}</h4>
 <h3>user sch{{user_school}}</h3> 
 <p>{{school_name}}</p>
yyyyy


{% for school in schools %}
{% if user_school|lower == school.school_name|lower %}
{% for group_name in groups %}
    <!-- <h2>{{ group_name.name }}</h2> -->
    <ul>
  
        {% if group_name|lower == group|lower %}

        {% for sub in group_subjects %}
        {% if sub|lower in exam_subject|lower %}
      
       <a href="{% url 'student:subject-start-exams' sub.id %}">
        {{sub}}
    </a> 

        {% endif  %}
        {% endfor %}
        <!-- {% if exam_subject|lower == group_subject|lower %}
        <a href="{% url 'student:subject-start-exams' group_subject.id %}">
            {{ group_subject }}
        </a> 
        {% endif %} -->

        {% endif %}
   
    </ul>
{% endfor %}
 {% endif %}

{% endfor %}




 {% for item in courses %}
    <div style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0 10px 0px 10px;">
        {% for subject_info in subjects_info %}
        {% for school in subject_info.schools %}
        {% if school == school_name and subject_info.subject == item.course_name %}  
        <div style="width: 100%; max-width: 400px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; display: flex;">
            
            <div style="background-color: #f0f0f0; color: #333; font-size: 24px; font-weight: bold; padding: 20px; border-right: 1px solid #ccc;">
                
                {{item|make_list|first }}
            </div>
            <div style="flex-grow: 1;">
                <div style="padding: 20px;">                      
                <a style="color: #333; text-decoration: none; font-size:12px;" href="{% url 'student:subject-start-exams' item.id %}">
                    {{ item.course_name }}
                </a>
                </div>
            </div> 
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

    {% endfor %}


    
   

  {% endblock %} 
 


