{% extends 'sms/dashboard/base.html' %}

{% block title %} table {% endblock %}

  {% block content %} 
          
<!-- Content Row -->
<div class="row">

<div class="col-lg-6 mb-4">

    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                working
            </h6>
        </div>
        <div class="card-body">
            <p>working</p>
           </p>
        </div>
    </div>

</div>
</div>

</div>

</div>
<!-- End of Main Content -->

  {% endblock %} 
 
