{% extends 'sms/dashboard/startexambase.html' %}

{% block title %} Start the Quiz {% endblock %}

  {% block content %} 

    <!--Products-->
    <div class="d-flex mb-3 container">
        <a class="btn btn-primary d-flex align-items-center" href="{% url 'teacher:student-logout' %}">
            <i class="fas fa-sign-out-alt fa-lg text-light mr-2"></i>
            <span class="text-light">Logout</span>
        </a>
    </div>
    
    <div class="text-center mt-5 mb-4">
        <h3 class="mb-3">
            <i class="fas fa-book fa-2x text-primary"></i>
            <span class="ml-2">Welcome, {{ request.user.profile.first_name }}!</span>
        </h3>
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle"></i> Note: You can start with any exam.
        </div>
        <div class="my-4">
            <i class="fas fa-play-circle fa-3x text-success"></i>
            <p class="mt-2 text-muted">Start the Quiz</p>
        </div>
        <div>
            <i class="fas fa-thumbs-up fa-2x text-warning"></i>
            <p class="mt-2 text-muted">Good luck!</p>
        </div>
    </div>
    
    

{% if course_pay %}

{% else %}

<!-- schools exams sections  -->
<div style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0 10px 0px 10px;">
    {% for item in courses %}


   
        {% for subj in subjects %}
        
            <!-- Check if the item (course) is associated with the subject -->
            {% if item|lower == subj|lower %}
                {% if sub_grade|lower == student_class|lower and item.schools.school_name|lower == school_name|lower %}
                
                <a href="{% url 'student:start-exam' item.id %}" class="text-decoration-none text-dark d-block mb-4">
                    <div class="d-flex border border-light rounded shadow-sm overflow-hidden">
                        <div class="bg-primary text-white d-flex align-items-center justify-content-center font-weight-bold" style="width: 100px; font-size: 24px;">
                            {{ item|make_list|first }}
                        </div>
                        <div class="flex-grow-1 p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="text-primary font-weight-bold">
                                  {{ item }} 
                                </div>
                                {% for result in user_results %}

                                {% if result.exam.course_name|lower == item|lower %}
                                <span class="badge badge-danger">Exam Taken</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
                

                {% else %}
                
                <div class="card shadow-sm border-light rounded mb-4 text-center">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold mb-2">{{ item }}</h5>
                        <p class="card-text text-muted mb-0">
                            <span class="badge badge-warning">Exam not started</span>
                        </p>
                    </div>
                </div>
                
               
                {% endif %}
              
            
            {% else %}
         
    
            {% endif %}
           
            <!-- {% if forloop.first %}
            <div style="width: 100%; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
                <div style="padding: 20px; text-align: center;">
                    <small>No exam assign to you. Ask the instructor for assistance</small>
                </div>
            </div>
            {% endif  %} -->
            {% empty %}
            {% if forloop.first %}
            <div style="width: 100%; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
                <div style="padding: 20px; text-align: center;">
                    <small>No exam assign to you. Ask the instructor for assistance</small>
                </div>
            </div>
            {% endif  %}
        {% endfor %}
        
       
    {% endfor %}
</div>


<div class="container mt-4">
    <h5 class="text-primary mb-3">Enrolled Subjects</h5>
    <ul class="list-group">
        {% for subject in subjects %}
            {% if subject|lower %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ subject }} - {{ subject.session }} - {{ subject.term }} TERM - {{ subject.exam_type }}
                    <span class="badge badge-primary badge-pill">Enrolled</span>
                </li>
            {% else %}
                <li class="list-group-item">No subjects enrolled.</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<!-- end schools exams sections  -->

{% endif %}

   
{% endblock %} 
 


