{% extends 'sms/dashboard/teacherbase.html' %}

{% block title %}Manage Students{% endblock %}

{% block content %}

<!-- Card Section -->
<div class="card shadow-sm mb-4">
    <div class="card-header text-center">
        <h5 class="mb-0">Manage Students' Classes |--|</h5>
    </div>


<hr style="color: black;">

{% for course_grade in course_grades %}
    <h2>Class: {{ course_grade.name }}</h2>

    {% for subject in course_grade.subjects.all %}
        <h4>Subject: {{ subject }}</h4>
    {% empty %}
        <p class="text-muted">No subjects assigned.</p>
    {% endfor %}
{% endfor %}


<h1>uuuuu</h1>

{% endblock %}
