<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Courses to Export</title>
</head>
<body>
    <h1>Select Courses to Export</h1>
    <form method="post">
        {% csrf_token %}
        <label for="courses">Select Courses:</label><br>
        <select name="courses" id="courses" multiple>
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Export Questions</button>
    </form>
</body>
</html>
