<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<style>

.links{
    display: flex;
    flex-wrap: nowrap;
    
}

.links >*{
  
   margin: 10px;
}
</style>

<body>
    <h1>CSV File Generated Successfully</h1>
    <p>Your CSV file has been generated successfully. You can download it using the link below:</p>

    <div class="links">
        <a href="{% url 'teacher:download_csv' %}" >Download CSV</a>
        <a href="{% url 'teacher:teacher-dashboard' %}" >Return to Dashboard</a>
    </div>
    
    
    
</body>
</html>
