{% extends 'sms/dashboard/teacherbase.html' %}

{% block title %} Teacher Dashboard {% endblock %}

  {% block content %} 

  <style>

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-column-cat {
    flex: 1;
    margin: 5px;
    background-color: #4158D0;
    color: black;
    background-image: linear-gradient(#ffff 100%, #ffff 46%, white 100%);

}

</style>
    

<br> <br>
<!-- Assuming you want to iterate over the subjects -->
{% if request.user.is_superuser %}
<p class="text-center">You logged In as super admin</p>
{% else %}
<p class="text-center">You logged In as Teacher</p>
{% endif %}
<hr>
<div class="container">

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Classes Taught</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome, {{ username }}</h5>
        <ul class="list-group list-group-flush">
          {% for teacher_cla in teacher_class %}
            <li class="list-group-item">{{teacher_cla.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h5 class="mb-0">Subjects Taught</h5>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Welcome, {{ username }}</h5> -->
        <ul class="list-group list-group-flush">
          {% for subject in teacher_subjects %}
            <li class="list-group-item">{{ subject }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

</div>




<!-- End of Main Content -->

  {% endblock %} 
 







